################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheApp/TheApp/bin/Debug/net8.0
/TheApp/TheApp/obj
/TheApp/.vs/TheApp
